.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FirstHalf {
  background-color: #5f2c3f;
}

.TeamCards {
  background-color: #dcdcdc;
  height: 95vw;
}

.TopOfPage {
  color: white;
  font-weight: 800;
  text-align: center;
}

.welcome {
  text-align: left;
  padding-left: 10vw;
  padding-top: 10vw;
  font-size: 3vw;
}

.mainHeader {
  font-size: 8vw;
}

.subtitle {
  font-size: 2vw;
}

.MenuBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
  color: whitesmoke;
  font-size: 1.5vw;
  font-weight: 400;
  padding-bottom: 2vw;
  padding-top: 2vw;
  background-color: rgba(255, 255, 255, 0.29);
  margin: 4vw;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-right: 15vw;
  margin-left: 15vw;
}

.MenuItem {
  font-weight: 600;
}

.Filter {
  padding: 1vw;
}

.Sorting {
  padding: 1vw;
}

.Resetting {
  padding: 1vw;
}

.info {
  margin-right: 3.5vw;
  margin-top: 9vw;
}

.ResetAndInfo {
  justify-content: space-between;
}

.popupInfo {
  flex-direction: column;
  background-color: #5f2c3f;
  color: white;
  padding: 0.5vw;
  min-width: 20vw;
}

.descriptionMain1 {
  text-decoration: underline;
  font-weight: 600;
  padding: 1vw;
}

.descriptionMain {
  padding-left: 1vw;
  padding-bottom: 0.5vw;
}

.popup-content {
  margin: auto;
  min-width: 22vw;
  padding: 1vw;
}
.popup-arrow {
  color: black;
}
[role="tooltip"].popup-content {
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: white;
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.tituloFavs {
  text-align: left;
  padding-left: 1vw;
  font-weight: 800;
  font-size: 2vw;
  padding-top: 15px;
  padding-bottom: 3vw;
}

.copas {
  text-align: right;
  padding-right: 1vw;
  padding-bottom: 1vw;
  font-size: 1.5vw;
  font-style: oblique;
}

.TeamCard {
  background-color: #5f2c3f;
  width: 350px;
  margin: 1vw;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  margin: 1vw;
  padding: 3vw;
  border-radius: 25px;
}

.teamdivision {
  padding-right: 1vw;
}

.TeamCards {
}

.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Country {
  font-weight: 700;
  font-size: 1.75vw;
  text-transform: uppercase;
  color: white;
}

.descr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.4vw;
  font-weight: 500;
  padding: 0.1vw;
  margin-right: 5px;
  color: rgb(244, 244, 244);
}

.Header {
  font-weight: 550;
  color: rgb(189, 189, 189);
  padding-right: 3px;
}

.continentss {
  display: flex;
  flex-direction: column;
}

.FavsCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 18vw;
}

.FavItem {
  background-color: #808080;
  width: 10vw;
  margin: 1vw;
  padding: 1vw;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  height: 5vw;
}

.FavsSection {
  height: 27vw;
}

.countryName {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 800;
}
